{% load account socialaccount %}



{% block content %}



    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}


        <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>


        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}

    {% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="login">
      <input type="hidden" name="next" value="{{ next }}">
    </form>

{% endblock %}>